﻿.banner-heading {
    text-align: center;
}

.carousel {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.carousel-caption {
    bottom: 35px;
}
.carousel-caption h3 {
        margin-bottom: 5px;
}

.explore-more {
    padding: 10px;
    border-radius: 5px;
    background-color: #e23905;
    color: #fff;
}
.explore-more:hover,.explore-more:visited{
    color:#fff;
}

.left.carousel-control, .right.carousel-control {
    background: none;
}
