﻿@model akqa.Foundation.ORM.Models.ImageModel.IImageCarousel
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc.Presentation;

@if (Model != null)
{
    var count = 0;
    var datasource = RenderingContext.Current.Rendering.DataSource;
    if (!string.IsNullOrWhiteSpace(Model.Heading))
    {
        <h2 class="banner-heading">@Html.Glass().Editable(Model, x => x.Heading)</h2>
    }
    
    using (Html.BeginEditFrame(datasource, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Carousel", "Carousel"))
    {
        if (Model.ImageCarousel != null && Model.ImageCarousel.Any())
        {
            <div id="@Model.ImageCarousel_UniqueIdentifierFieldName" class="carousel slide" data-ride="carousel" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators">

                    @foreach (var carouselitem in Model.ImageCarousel)
                    {
                        <li data-target="#@(Model.ImageCarousel_UniqueIdentifierFieldName)" data-slide-to="@(count)" class="@(count == 0 ? "active" : "")"></li>
                        count++;
                    }

                </ol>
                @{
                    count = 0;
                }
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @foreach (var carouselitem in Model.ImageCarousel)
                    {
                        <div class="item @(count == 0 ? "active" : "")">

                            @Html.Glass().RenderImage(carouselitem, x => x.MediaImage, null, true)
                            <div class="carousel-caption">
                                @if (!string.IsNullOrWhiteSpace(carouselitem.Title))
                                {
                                    <h3>@Html.Glass().Editable(carouselitem, x => x.Title)</h3>
                                }

                                @if (!string.IsNullOrWhiteSpace(carouselitem.Description))
                                {
                                    <p>@Html.Glass().Editable(carouselitem, x => x.Description)</p>
                                }
                                @if (carouselitem.MediaLink != null)
                                {
                                    @Html.Glass().RenderLink(carouselitem, m => m.MediaLink, new { @class = "explore-more" }, true)
                                }
                            </div>
                        </div>
                        count++;
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#@(Model.ImageCarousel_UniqueIdentifierFieldName)" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only"></span>
                </a>
                <a class="right carousel-control" href="#@(Model.ImageCarousel_UniqueIdentifierFieldName)" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only"></span>
                </a>
            </div>
        }
    }
}
