﻿<!DOCTYPE html>
@using Sitecore.Mvc
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AKQA</title>
    <link href="~/StaticAssets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StaticAssets/css/custom.css" rel="stylesheet" />
    <script src="~/StaticAssets/js/jquery.js"></script>
    <script src="~/StaticAssets/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        @Html.Sitecore().Placeholder("body-main")
    </div>
</body>
</html>
